{% extends "blog/layout.html" %}
{% block content %}

<h1 class="text-center">jaguarete Kaa S.A. </h1>
<p class="text-center" >Somos una empresa comprometida a ofrecer a sus clientes los productos de la mayor calidad a los mejores precios mediante un servicio personalizado a cada uno de nuestros clientes.
</p>
<p class="text-center">Somos una empresa líder en el mundo de la moda, que proporciona los elementos necesarios para resaltar su belleza.Proporcionar a los miembros de la empresa el clima laboral adecuado para desarrollarse personal y profesionalmente.
</p>

{% endblock%}